body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#bodyStyling {
  background-color: #d1d8d3;
}


/* ------------------ Login CSS ------------------ */
.loginCard {
  margin: 80px 250px;
  padding:20px;
}


/* ------------------ Register CSS ------------------ */
.registerCard {
  margin: 80px 250px;
  padding:20px;
}


/* ------------------ NavBar CSS ------------------ */
.navbar-light .navbar-nav .nav-link {
  color:black
}

#navBarDropdownFlashcards {
  color: black;
}


/* ------------------ Homepage Language Container CSS ------------------ */

.languageContainer {
  border: black solid 1px;
  margin: 50px;
  width: 700px;
}

.languageProficiecnyHeaders {
  padding-top: 15px;
  text-align-last: center;
}

.languageCard {
  margin: 10px 30px;
}

.languageCardBody {
  text-align: center;
  
}

#languageCardLanguageName {
  margin-left: 15px;
}

.languageDropdownButton {
  display: flex;
  justify-content: flex-end;
  padding: 15px;
}


/* ------------------ Language Manage CSS ------------------ */

.showEditandDeleteButton {
  visibility: hidden;
}

.showEditandDeleteButtonSpan {
  font-size: 15px;
}

.langaugeManageButtonRow {
  display: flex;
  justify-content: flex-end;
}

.editLanguageContainer {
  margin: 50px;
}

.editLanguageForm {
  margin: 15px;
}

.editLanguageSaveButton {
  display: flex;
  justify-content: flex-end;
  padding: 15px;
}

.languageDeletionConfirmationContainer {
  margin: 15px;
}

.languageDeleteButton {
  margin: 5px;
}

.languageCancelDeleteButton {
  margin: 5px;
}



/* ------------------ Language Add CSS ------------------ */

.addLanguageContainer {
  margin: 50px;
}

.addLanguageForm {
  margin: 15px;
}

.addLanguageSaveButton {
  display: flex;
  justify-content: flex-end;
}


/* ------------------ Flashcard Study CSS ------------------ */

.flashcardStudyKnowRow {
  display: flex;
  justify-content: space-evenly;
}

.flashcardColumnHeader {
  margin: 30px 0px;
  text-align: center;
}

.flashcardCard {
  margin: 15px 0px;
}

.flashcardCardHeader {
  display: flex;
  justify-content:flex-start
}

.flashcardEditButton {
  font-size: 15px;
}

.flashcardCardBodyWord {
  text-align: center;
  font-size: 20px;
}

.flashcardButtons {
 display: flex;
 justify-content: space-evenly;
}


/* ------------------ Flashcard Edit CSS ------------------ */

.CommentForm__title {
  text-align: center;
  margin: 20px 0px;
}

.flashcardEditCard {
  margin: 0px 250px;
  padding: 10px 10px 0px 10px;
}

.flashcardEditDeleteButton{
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.flashcardEditButtonSave {
  margin: 15px 0px;
}



/* ------------------ Flashcard Collection Add CSS ------------------ */

.flashcardFormsRow {
  display: flex;
  justify-content: space-around;
}

.flashcardCollectionFormCard, .flashcardFormCard{
  margin: 30px;
  padding:20px;
}

.flashcardStudyTimeButton {
  display: flex;
  justify-content: space-around;
}

#AddFlashcardRowVisibility {
  visibility: hidden;
}

#AddStudyTimeButtonVisibility {
  display: flex;
  visibility: hidden;
}

#hideFlashcardCollectionButtonVisibility {
  visibility: visible;
  margin: 0px 0px 20px 45px;
}

.flashcardAddButton {
  display: flex;
  justify-content: space-around;
}

.addFlashcardButton {
  margin: 0px 0px 20px 45px;
}

.flashcardDiv {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}



/* ------------------ Flashcard Collection List CSS ------------------ */

.flashcardCollectionFilterContainer {
  margin: 20px 0px;
}

.flashcardCollectionForm {
  margin: 0px 100px;
}

.flashcardCollectionFilteredList {
  margin: 0px 70px;
}
 


/* ------------------ Flashcard Collection Delete CSS ------------------ */

.flashcardCollectionDeletionConfirmationContainer {
  margin: 15px;
}

.flashcardCollectionDeleteButton {
  margin: 5px;
}

.flashcardCollectionCancelDeleteButton {
  margin: 5px;
}


/* ------------------ Resource CSS ------------------ */

.languageResourceButtonContainer {
  text-align-last: center;
}

.resourceWelcomeLabel {
  display: flex;
  justify-content: center;
}

#languageResourceButton {
  margin: 15px;
  background-color: white;
}

.resourcesContainerWithAddButton {
  border: solid black 0.5px;
  background-color: white;
}

.resourceSourceElement {
  margin: 0.1px;
}

.resourceEditButtonSpan {
  font-size: 15px;
}

.resourceDeleteButtonSpan {
  font-size: 15px;
}

#addResourceButton {
  margin: 15px;
}


/* ------------------ Resource Add CSS ------------------ */

.addResourceCard {
  margin: 0px 250px;
}

.addResourceForm {
  margin: 15px;
}

.resourceAddLabel {
  display: flex;
  justify-content: center;
  margin: 30px;
}



/* ------------------ Resource Edit CSS ------------------ */

.editResourceContainer {
  margin: 50px;
}

.editResourceCard {
  margin: 0px 250px;
}

.editResourceForm {
  margin: 15px;
}

.editResourceSaveButton {
  display: flex;
  justify-content: flex-end;
}